@media (min-width: 768px) {
    body {
        padding: 42px;
    }

    header {
        justify-content: space-between;
    }

    header .logo {
        width: 64px;
    }

    header label {
        display: none;
    }

    header .pages-links {
        gap: 41px;
        position: relative;
        top: auto;
        right: auto;
        width: auto;
        height: auto;
        background-color: transparent;
        flex-direction: row;
        padding: 0 0 3px 0;
    }

    .pages-links li a {
        font-size: 15px;
    }

    .popular-post {
        grid: 
        "popular-post-image popular-post-image"
        "popular-post-title popular-post-info" 
        / 1fr 1fr;
        gap: 32px;
    }

    .popular-post h1 {
        font-size: 60px;
        line-height: 56px;
    }
}

@media (min-width: 1440px) {
    body {
        padding: 84px 165px 0 165px;
    }

    main {
        padding-top: 51px;
        grid: 
        "popular-post popular-post news-posts"
        "popular-post popular-post news-posts"
        "trending-posts trending-posts trending-posts"
        / 1fr 1fr 1fr;
        gap: 30px;
    }

    .news-posts {
        padding: 27px 22px 0 24px;
    }

    .news-posts h2 {
        font-size: 42px;
    }

    .trending-posts {
        /* flex-direction: row; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 42px;
        margin-bottom: 118px;
        gap: 30px;
        justify-content: space-between;
    }
}